/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require chosen
 *= require font-awesome
 *= require alertify
 *= require alertify_default
 *= require_tree .
 *= require_self
 */
.navbar-header img {
  margin: -12px;
}

div.glyphicon.glyphicon-pencil a, div.glyphicon.glyphicon-trash a {
  text-decoration: none;
}

.hour1 {
  color: #17AD21;
}

.select1 {
  position: absolute;
  left: 240px;
}

.select2 {
  position: absolute;
  left: 570px;
}

.hour2 {
  color: #F2521D;
}

#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;

  input.button {
    background-color: #DD4814;
  }
}

input.button {
  color: #DD4814;
}

.unhappy {
  color: #16A2CC;
  font-size: 17px;
}

.btn.btn-danger.truck-delete a {
  color: white;
}

i {
  color: #333333;
}

.ad01 {
  background-color: #2B2A2A;
  padding-right:100px;
  padding-left: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

img#main_logo.img-responsive {
  margin-right: auto;
  margin-left: auto;
}

#hello {
  margin-left: auto;
  margin-right: auto;
}
