#footer {
  color: white;
  border-top: 3px solid #707273;
  padding-top: 7px;
  text-align: center;
  margin-top: 17px;
  margin-right: auto;
  margin-left: auto;
}

i.fa {
  color: white;
  padding: 5px;
}

.copy {
  padding-bottom: 10px;
}
