// body {
//   color: white;
//   background-color: #FF0000;
// }

h1 {
  font-size: 40px;
  margin: 0;
  color: #D6491E;
}

p.welcome {
  font-size: 20px;
  font-weight: 400;
  color: #D6491E;
}

.pad-checkbox {
  margin-left: 5px;
}

.horizontal-menu {
  padding: 0;
  list-style-type: none;
  li {
    display: inline;
  }
  li + li::before {
    content: " | ";
  }
}

.big-logo {
  text-align: center;
}
