// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select {
  font-size: 20px;
  color: #DB491D;
}

option {
  font-size: 20px;
  color: #DB491D;
}

p.results {
  font-size: 25px;
  color: #DB491D;
}

div.s_results {
  color: #08BDBD;
}

span.within {
  color: #bf3e11;
  font-size: 16px;
  padding-right: 10px;
}


i.glyphicon.glyphicon-search {
  color: white;
  font-size: 15px;
  padding-right: 5px;
}
