// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

select {
  font-size: 20px;
  color: #DB491D;
}

p.results {
  font-size: 25px;
  color: #DB491D;
}

div.s_results {
  color: #08BDBD;
}

span.whithin {
  color: #DB491D;
  font-size: 16px; 
}
