// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.name-index a, div.id-index a, span.btn.btn-default a {
  text-decoration: none;
}

#city-trucks-map {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px;
}

#find-yourself {
  width: 100%;
  margin: 20px auto;

}
