// Place all the styles related to the trucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  font-size: 30px;
  color: #17AD21;
}

div.jumbotron div.col-md-12 {
  font-size: 17px;
}

.food-type {
  font-size: 20px;
  color: #DB491D;
}

.food-description {
  color: #778899;
}

.pay, .user_id {
  color: #16A2CC;
}

.id {
  color: black;
}

div.col-md-4 h1 {
  color: #DB491D;
}

.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
  color: #16AB5C;
}

#truck-map {
  width: 100%;
  height: 400px;
}

div#truck-map {
  box-shadow: 0px 0px 20px;
}

iframe#twitter-widget-0.twitter-timeline.twitter-timeline-rendered {
  float: right;
  height: 550px;
  box-shadow: 0px 0px 20px;
}

.name-index, .id-index {
  font-size: 20px;
  font-weight: bold;
  color: #DB491D;
}

.name-index {
  font-size: 22px;
}

.glyphicon.glyphicon-picture {
  color: black;
  font-size: 30px;

}

div.col-md-3 {
  padding: 10px;
}
