// Place all the styles related to the trucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  font-size: 30px;
  color: #17AD21;
}

div.jumbotron div.col-md-12 {
  font-size: 17px;
}

.food-type {
  font-size: 20px;
  color: #DB491D;
}

.food-description {
  color: #08BDBD;
}

.pay {
  color: #08BDBD;
}

.work_day {
  color: #16AB5C;
}

.work-day-open select {
  color: #16AB5C;
}


.hour1 label {
  color: #4DB866;
  font-size: 17px;
}

.hour2 label {
  color: #D44519;
  font-size: 17px;
}

#truck-map {
  width: 100%;
  height: 400px;
}

div#truck-map {
  box-shadow: 0px 0px 20px;
  border-radius: 4px;
}

a.btn.btn-success {
  margin-top: 4px;
}

btn#fl.btn.btn-success, input.btn.btn-primary {
  margin-top: 10px;
}

iframe#twitter-widget-0.twitter-timeline.twitter-timeline-rendered {
  float: right;
  height: 550px;
  box-shadow: 0px 0px 20px;
}

.name-index, .id-index {
  font-size: 20px;
  font-weight: bold;
  color: #DB491D;
}

.name-index {
  font-size: 22px;
}

.glyphicon.glyphicon-picture {
  color: black;
  font-size: 30px;

}

div.col-md-3 {
  padding: 10px;
}

div.col-md-7 {
  padding-bottom: 15px;
}

div.name-index {
  padding-bottom: 10px;
}

i.glyphicon.glyphicon-pushpin {
  color: white;
}

.jumbotron h1 {
  font-size: 50px;
  margin: 0;
  color: #D6491E;
}

.payment-type img {
  display: inline;
  padding: 5px;
}

@media (max-width: 742px) {
  .duplicate-truck, .submit {
    width: 73%;
    margin-top: 10px;
  }
}

span.btn.btn-success {
  transition: all 0.1s linear;
}

span.btn.btn-success:hover {
  opacity: 0.7;
}

input#truck_image {
  color: white;
  font-size: 14px;
}

.glyphicon.glyphicon-picture {
  color: white;
}

li {
  color: white;
}
