// Place all the styles related to the trucks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-header {
  font-size: 30px;
  color: #17AD21;
}

.food-type {
  font-size: 20px;
}

#truck-map {
  width: 100%;
  height: 400px;
}
